// gallery01
section.gallery_01(data-menu='true')
	.layoutWrap
		h2.title PHOTOGRAPHY
		.detail 企劃拍攝
		.subTitleWrap
			p.subTitle 穿搭，是體現自我風格；單品，則能提升整體質感。球鞋、墨鏡、研讀小編為妳準備的妳準備今必修秘技，成為路人眼中的焦點吧！
	#gallery_01_slider0.gallery_01_slider
		//Loading Screen
		.loading(u='loading')
			.loader Loading...
		//Main Slide
		.slides(data-u='slides')
			- for (var i = 0; i < 4; i++) {
				.slide(data-p='144.50', style='display: none;')
					.img
						img(src='img/gallery/g_01/01.png', data-width='1200', data-height='900')
					img(data-u='thumb', src='img/gallery/g_01/thumb-01.jpg')
					.txt
						span= (i*5+1)+'. 穿搭，是體現自我風格；單X品，則能提升質感。成為路人眼中的焦點吧！'
				.slide(data-p='144.50', style='display: none;')
					.img
						img(src='img/gallery/g_01/02.png', data-width='1200', data-height='900')
					img(data-u='thumb', src='img/gallery/g_01/thumb-02.jpg')
					.txt
						span= (i*5+2)+'. 穿搭，是體現自我風格；單X品，則能提升質感。成為路人眼中的焦點吧！'
				.slide(data-p='144.50', style='display: none;')
					.img
						img(src='img/gallery/g_01/03.png', data-width='1200', data-height='794')
					img(data-u='thumb', src='img/gallery/g_01/thumb-03.jpg')
					.txt
						span= (i*5+3)+'. 穿搭，是體現自我風格；單X品，則能提升質感。成為路人眼中的焦點吧！'
				.slide(data-p='144.50', style='display: none;')
					.img
						img(src='img/gallery/g_01/04.jpg', data-width='854', data-height='853')
					img(data-u='thumb', src='img/gallery/g_01/thumb-04.jpg')
					.txt
						span= (i*5+4)+'. 穿搭，是體現自我風格；單X品，則能提升質感。成為路人眼中的焦點吧！'
				.slide(data-p='144.50', style='display: none;')
					.img
						img(src='img/gallery/g_01/05.png', data-width='900', data-height='1350')
					img(data-u='thumb', src='img/gallery/g_01/thumb-05.jpg')
					.txt
						span= (i*5+5)+'. 穿搭，是體現自我風格；單X品，則能提升質感。成為路人眼中的焦點吧！'
			- }
		//Thumbnail Navigator
		.jssort01(data-u='thumbnavigator', data-autocenter='1')
			.slides(data-u='slides')
				.p(data-u='prototype')
					.w
						.t(data-u='thumbnailtemplate')
					.c
		//Arrow Navigator
		span.jssora05l(data-u='arrowleft')
			svg.arrowL(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 20 60')
				polyline(points='18.91 0.51 1.17 30.17 18.91 59.38')
		span.jssora05r(data-u='arrowright')
			svg.arrowR(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 20 60')
				polyline(points='0.86 0.51 18.61 30.17 0.86 59.38')
// gallery01 end